<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block meta %}
    <title>Project - {{ name }}</title>
{% endblock meta %}
{% block content %}
    <main>
        <section class="project-section" id="project">
            <div class="container container-project">
                <p class="section-kicker">Proyek saya sejauh ini</p>
                <div class="project-top-container">
                    <h1>Project</h1>
                    <a href="{% url 'main:create_project' %}" class="add-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></svg>Add Project</a>
                </div>

                <div class="project-grid">
                    {% for project in project_list %}
                        <div class="card project-card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ project.thumbnail }}" alt="{{ project.title }} image">
                            <div class="card-body">
                                <h5 class="card-title">{{ project.title }}</h5>
                                <p class="card-text">{{ project.description }}</p>
                                <div class="card-option">
                                    <a href="{{ project.project_link }}" class="btn btn-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16"><path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/><path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/></svg></a>
                                    {% include "components/project_delete_modal.html" with project=project %}
                                    
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p class="empty-state">
                            Belum ada projek yang ditambahkan.
                        </p>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
</html>                               